html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
  
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
  
.logo {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.navbar {
  margin: 20px 20px;
}

.navbar ul {
  padding: 0;
  list-style-type: none;
}

.navbar li {
  display: inline;
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e1e1;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f9f9f9; /* Optional: you can choose any color you like */
}

.mySlides img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white; /* changed from black to white for better visibility */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6); /* add background color for better visibility */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 510px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Optional: add a slight background to text for better readability */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}